/* https://gridbyexample.com/examples/example1/ */
body {
    margin: 40px;
}

.wrapper {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
}

.box {
    background-color: lightskyblue;
    padding: 2px;
    height: 300px;
}

.pic {
    background-color: lightskyblue;
    padding: 2px;
    height: 300px;
}